:root {
  --range-progress: calc(50% + 0px);
}

#wpspeed_settings_rangeSlider,
#rangelabels {
	width: 500px;
	cursor: pointer;
}

#wpspeed_settings_rangeSlider {
	appearance: none;
	-webkit-appearance: none;
}

#wpspeed_settings_rangeSlider::-webkit-slider-runnable-track {
   width: 100%;
   height: 8px;
   cursor: pointer;
   background: linear-gradient(90deg, #5498F9 var(--range-progress), #E7F4FE var(--range-progress));
   border-radius: 1rem;
}

#wpspeed_settings_rangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 4px solid #5498F9;
    border-radius: 100%;
    background: #fff;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-top: -5px;
}

#wpspeed_settings_rangeSlider::-moz-range-track {
  width: 100%;
  height: 8px;
  background: linear-gradient(90deg, #5498F9 var(--range-progress), #E7F4FE var(--range-progress));
  border-radius: 1rem;
}

#wpspeed_settings_rangeSlider::-moz-range-thumb {
  border: 4px solid #5498F9;
  border-radius: 100%;
  background: #fff;
  cursor: pointer;
  height: 12px;
  width: 11px;
  position: relative;
  z-index: 2;
}

#wpspeed_settings_rangeSlider::-moz-focus-outer {
  border: 0;
}

#rangecontainer {
	padding-top: 5px;
    margin-bottom: 20px;
}

#rangelabels {
	display: flex;
	margin-top: 8px;
}

#rangelabels>span {
	flex: 1 1 auto
}

span.innerlabel {
	transition: color .5s;
	transition: background-color .5s;
	font-weight: normal;
	font-size: 1rem;
	display: inline-block;
	line-height: 1rem;
}

span.innerlabel {
	padding: 5px
}

div.jspeed-setting-row {
	margin-left: 0;
    margin-right: 0;
    height: 25px;
    margin-bottom: 0;
    align-items: center;
	flex-wrap: nowrap;
}

div.jspeed-setting-row:last-child {
	border-bottom: none !important;
}

span[data-container-label="0"] {
	margin: 0 16px 0 -25px
}

span[data-container-label="1"] {
	margin: 0 25px 0 10px
}

span[data-container-label="2"] {
	margin: 0 25px 0 0px
}

span[data-container-label="3"] {
	margin: 0 10px 0 0
}

span[data-container-label="4"] {
	margin: 0 25px 0 20px;
}

#optimizationslist {
	display: block;
	max-width: 650px;
}

#optimizationslist.populated {
	min-height: 672px
}

#optimizationslist span.badge {
	padding: 5px 8px;
	font-size: 14px;
    font-weight: 600;
}

#optimizationslist span.fas {
	font-size: 16px;
    margin-right: 5px;
}

#rangecontainer span.innerlabel.badge.bg-primary,
#optimizationslist span.badge.bg-primary {
    background-color: #2271b1 !important;
}